.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

svg {
  display: block;
  margin: 0 auto;
  background-color: crimson;
}

.axis .domain {
  display: none;
}

.axis--x text {
  fill: #999;
}

.axis--x line {
  stroke: #aaa;
}

.axis--activity .tick line {
  display: none;
}

.axis--activity text {
  font-size: 12px;
  fill: #777;
}

.axis--activity .tick:nth-child(odd) text {
  fill: rgb(77, 2, 2);
}

.line {
  fill: none;
  stroke: #fff;
}

.area {
  fill: #448cab;
}

.activity:nth-child(odd) .area {
  fill: #5ca3c1;
}