



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plotly</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
</head>

<body>
  <!-- {{mars}} -->
  <div style = 'background-color: #202027;'>
  <div id ="title" style = 'color: #c2c2d6; text-align: center'>
    <h1>Flask directory</h1>
    <div style = 'color: #c2c2d6; text-align: center'>
      <p>To grab the tables in the data set you will need to type the table name after the backslash in the url/{tablename}</p>
  <div id="sunburstdiv"></div>


  <script src="https://d3js.org/d3.v5.min.js"></script>
 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src={{ url_for("static", filename="sunburstlogic.js") }}></script>
    </div>
  </div>
</div>  
</body>



</html>
